[project]
	description = Hello world project is my first project
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Syed (syedalten)
[access "refs/for/refs/*"]
	read = group user/Syed (syedalten)
	push = group user/Syed (syedalten)
	label-Code-Review = -2..+2 group user/Syed (syedalten)
	label-Verified = -1..+1 group user/Syed (syedalten)
	rebase = group user/Syed (syedalten)
	removeReviewer = group user/Syed (syedalten)
	submit = group user/Syed (syedalten)
[access "refs/heads/*"]
	read = group user/Syed (syedalten)
	create = group user/Syed (syedalten)
	push = +force group user/Syed (syedalten)
	pushMerge = group user/Syed (syedalten)
[access "refs/tags/*"]
	push = group user/Syed (syedalten)
	push = +force group user/Syed (syedalten)
